@tailwind base;
@tailwind components;
@tailwind utilities;

/* THÊM ĐOẠN NÀY ĐỂ BẮT BUỘC FULL MÀN HÌNH */
:root, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none !important; /* Quan trọng: Phá bỏ giới hạn chiều rộng */
  display: block;             /* Quan trọng: Bỏ chế độ center mặc định */
}